<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <%- include('partials/header') %>

  <div class="center-container">
    <div class="card">
      <p>Your vibrant personal finance tracker.</p>
      <a href="/login" class="button">Login</a>
      <a href="/register" class="button secondary">Register</a>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
